* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 0;
  padding: 0;
}
/*  debut part1 */

.part_1 {
  background-image: url(assets/pexels-ron-lach-9145351.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  font-size: 1.5em;
}

.header {
  background-color: transparent;
  height: 80px;
  color: rgb(250, 250, 250);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

.button_media {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu_button {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.menu_button a {
  text-decoration: none;
  color: white;
  font-size: 0.8em;
}

.part_1_V2 {
  display: flex;
  color: rgb(61, 59, 59);
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 60%;
}

.part_1_V2 a {
  color: rgb(126, 96, 96);
  text-decoration: none;
  background: rgb(212, 209, 209);
  height: 60px;
  width: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* fin part1 */

/* debut part2 */
aside {
  background: rgb(63, 62, 62);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

aside:first-of-type h1 {
  font-size: 3em;
  padding: 35px;
}

.card {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2em;
  gap: 15px;
}

p:nth-child(2) {
  padding-bottom: 25px;
}

/* fin part2 */

/* debut part3 */

.part_3 {
  background-image: url(assets/test.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
}

/* fin part3 */

/* debut part4 */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: gray;
  color: white;
}

main:first-of-type h1 {
  color: rgb(243, 47, 47);
  padding: 35px;
}
